<div class="modal-primary">
			<div class="modal-global">
            <div class="modal-header-container">
				<h4 class="modal-header">Connexion</h4>
				<svg class="modal-close" viewbox="0 0 100 100">
					<g class="ldl-scale" style="transform-origin:50% 50% 0px;transform:rotate(0deg) scale(0.8);animation-play-state:paused"><path fill="#333" d="M80.75 5h-61.5C11.393 5 5 11.393 5 19.25v61.5C5 88.607 11.393 95 19.25 95h61.5C88.607 95 95 88.607 95 80.75v-61.5C95 11.393 88.607 5 80.75 5zM85 80.75A4.255 4.255 0 0 1 80.75 85h-61.5A4.255 4.255 0 0 1 15 80.75v-61.5A4.255 4.255 0 0 1 19.25 15h61.5A4.255 4.255 0 0 1 85 19.25v61.5z" style="animation-play-state:paused"/>
						<path fill="#e15b64" d="M69.937 61.565a5 5 0 0 1-6.774 7.356L50.291 57.065 38.435 69.938a4.988 4.988 0 0 1-3.679 1.613 5 5 0 0 1-3.677-8.387l11.855-12.872-12.872-11.857a5 5 0 0 1 6.774-7.356l12.872 11.855 11.856-12.873a5 5 0 1 1 7.356 6.774L57.065 49.709l12.872 11.856z" style="fill:rgb(2, 2, 2);animation-play-state:paused"/>
					</g>
                </svg>
            </div>
					{# <div class="modal-container">
						<label for="email">
							<b>Adresse e-mail</b>
						</label>
						<input type="text" placeholder="Entrer votre e-mail" name="email" required>
					</div>
					<div class="modal-container">
						<label for="password">
							<b>Mot de passe</b>
						</label>
						<input type="text" placeholder="Saisir le mot de passe" name="password" required>
					</div> #}

					<label for="inputEmail">Email</label>
    				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    				<label for="inputPassword">Password</label>
    				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    				<input type="hidden" name="_csrf_token"
           			value="{{ csrf_token('authenticate') }}"
    				>

					<div class="modal-footer">
						<a href="#" class="forget-psw">mot de passe oublié?</a>
						<button class="button-modal" type="submit">Login</button>
						<a href="#" class="link-modal">Inscrivez-vous maintenant</a>
					</div>
			</div>
		</div>








modal

.modal-primary {
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 103;
    // display: none;
}

.modal-primary-active {
    display: block;
}


.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5FAD41;
    padding: 16px;
    width: 40%;
    margin: 20px auto;
    border: 1px #fff;
}

.modal-title {
    display: flex;
    color: #fff;
}

.modal-label {
    color: #fff;
}

.modal-footer {
    display: flex;
    flex-direction: column;
    border: 0;
}

.forget-psw{
    float: right;
    padding-top: 0;
    color: white;
    font-size: 18px;
    text-decoration: none;
    &:hover {
        color: #fff;
        opacity: 0.8;
    }
}

.link-modal {
    display: block;
    width: 140px;
    height: 76px;
    background: #69747C;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    box-shadow: 4px 8px 10px 3px rgba(0, 0, 0 ,0.4);
    border: 2px solid #fff;
    &:hover {
        color: #fff;
        opacity: 0.8;
    }
}

.modal-close {
    height: 50px;
    width: 50px;
    color: #fff;
}


Login

{% block body %}
    <div class="modal-primary">
    <div class="modal-container">
    <svg class="modal-close" viewbox="0 0 100 100">
		<g class="ldl-scale" style="transform-origin:50% 50% 0px;transform:rotate(0deg) scale(0.8);animation-play-state:paused"><path fill="#333" d="M80.75 5h-61.5C11.393 5 5 11.393 5 19.25v61.5C5 88.607 11.393 95 19.25 95h61.5C88.607 95 95 88.607 95 80.75v-61.5C95 11.393 88.607 5 80.75 5zM85 80.75A4.255 4.255 0 0 1 80.75 85h-61.5A4.255 4.255 0 0 1 15 80.75v-61.5A4.255 4.255 0 0 1 19.25 15h61.5A4.255 4.255 0 0 1 85 19.25v61.5z" style="animation-play-state:paused"/>
			<path fill="#e15b64" d="M69.937 61.565a5 5 0 0 1-6.774 7.356L50.291 57.065 38.435 69.938a4.988 4.988 0 0 1-3.679 1.613 5 5 0 0 1-3.677-8.387l11.855-12.872-12.872-11.857a5 5 0 0 1 6.774-7.356l12.872 11.855 11.856-12.873a5 5 0 1 1 7.356 6.774L57.065 49.709l12.872 11.856z" style="fill:rgb(2, 2, 2);animation-play-state:paused"/>
		</g>
    </svg>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div>
    <h1 class="modal-title">Se connecter</h1>
    </div>
    <label class="modal-label" for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label class="modal-label" for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
    <div class="modal-footer">
			<a href="reset-password?no-intro" class="forget-psw">mot de passe oublié?</a>
			<a href="register?no-intro" class="link-modal">Inscrivez-vous maintenant</a>
	</div>
</form>
    </div>
</div>
{% endblock %}
