.nav-responsive{
    display: none;
}

.nav-responsive.active {
    @media screen and (max-width:$desktop) {
        display: flex;
    }
    display: none;
} 

.nav-responsive {
    @media screen and (min-width:$tablet) {
        height: calc(100% - 110px);
    }
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: calc(100% - 60px);
    width: 100%;
    z-index: -1;
    background: rgba(0,0,0,0.5);
    &-list {
        padding: 0;
        width: 100%;
        height: 100%;
        text-align: center;

    }
    &-link {
        display: flex;
        align-items: center;
        min-height: 70px;
        justify-content: center;
        font-size: 45px;
        text-decoration: none;
        color: #fff;
        background: #142601;
        border-bottom: 4px solid #fff;
        

        &:hover {
            color: #fff;

            
    }

    }
}