
  .parallax-body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    background-image: linear-gradient(to left, #ffb357, #ffbe80, #ffcba6, #ffdbc9, #ffede8);
    text-align: center;
    width: calc(100vw + 3px);
    padding-right: 10px;
    overflow-x: hidden;
}
.parallax-intro {
  box-sizing: border-box;
  min-height: 60vh;
  padding: 95vh 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  perspective: 1px;
}

.parallax-intro h1 {
  margin-top: -4%;
}
.parallax-intro, .parallax-intro:before {
  background: 50% 50% / cover;
}

.test {
  position: absolute;
  bottom: 0;
  content: "";
  left: 0;
  right: 0;
  top: 20%;
  display: block;
  background-size: cover;
  transform-origin: center center 0;
  transform:  translateZ(-1px) scale(2);
  z-index: -12;
  height: 70%;
  width: 90%;
  margin: 0 5%;
  overflow-x: hidden;
}
// .test::after{
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     background-color: rgba(255,255,255,0.3);
//     z-index: -10;
// }

.parallax-content {
margin: auto;
width: calc(100% + 10px);
position: relative;
padding: 20px 0;
color: #fff;
}
.parallax-content::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -10;
}
.parallax-container {
max-width:800px;
margin:0 auto
}
.parallax-container img {
    width: 100% !important;
}

.parallax-color-title {
    color: #fff;
    font-size: 25px;
    background-color: #142601;
    margin-left: 25%;
    margin-right: 25%;
}

.parallax-color-category {
    text-decoration: underline;
    margin-top: -10px;
    font-size: 20px;
    color: #142601;
}