{% extends 'base.html.twig' %}

{% block title %}Dernier article{% endblock %}

{% block titleh %}{% endblock %}

{% block body %}

 <h1>{{post.title}}</h1>

 <img src="{{post.image}}" alt="#">

<p>{{post.createdAt | date| ago}}</p>

 <div>{{post.content | raw}}</div>
 
{% endblock %}